target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iml
*.properties
src/main/config/gds-job.json
src/main/config/gds-index.json
src/main/config/cdr-client.json
src/main/config/dicom-gds-index.json
src/main/config/dicom-gds-client.json
src/main/config/cdr-job.json
src/main/config/cdr-index.json
src/main/config/gds-client.json
src/main/config/dicom-gds-job.json
